@charset "UTF-8";

.box1 , .box2 , .box3 ,
.box4 , .box5 , .box6 ,
.box7 , .box8 , .box9 ,
.box10 , .box11 , .box12 {
	width: 100px; height: 80px;
	background-color: yellow;
	border: solid 1px red;
}
.box2{
	position: relative; /* 상대위치 : 현 요소의 위치시작점 기준 */
	left: 50px; top:50px; /*왼쪽으로부터 50px 이동 */ /*위쪽으로부터 50px 이동 */
}
.box5{
	position: absolute;	/* 절대위치 : 부모 요소의 위치시작점 기준 */
	left: 50px; top:50px;
}
.box8{
	position: fixed;	/* 고정위치 : 디바이스 화면에 위치 고정 */
	right: 50px; bottom: 50px;	/* 오른쪽으로부터 50px , 아래로부터 50px; */
}
.parent1{ position: relative; border: 1px solid blue; } /* 부모요소에 relative */
.box11{
	position: absolute;
	left: 100px; top:10px;
}
.box12{
	position: static; /* 생략시 기본값 */
	left: 100px; /* 위치변경 불가능 */
}





