@charset "UTF-8";

/* 공통 css */ 
/* 1. 기본값 바깥/안쪽 여백 제거 2.구역사이즈기준 : 테두리기준 box-sizing: border-box; */
*{ 
	margin: 0px; padding: 0px; 
	box-sizing: border-box; 
	list-style-type: none; /* 글머리 제거 */
	font-family: 'omyu_pretty';
}
/* 2. a 태그 색상 , 밑줄제거 */
a{ color: black; text-decoration: none; }
/* 3. 외부폰트 = 눈누 https://noonnu.cc/ */ 
@font-face {
    font-family: 'omyu_pretty';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-01@1.0/omyu_pretty.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
/* 4. 웹 컨텐츠 사이즈 */ /* 950px ~ 1350px */
.webcontainer{ width: 1100px; margin: 0 auto; }

/* 5. 테마 색상  https://color.adobe.com/ko/create/color-wheel */

/*
	box-sizing : 구역의 사이즈 기준 
		box-sizing: content-box; [ 기본값 ] 
			구역사이즈+여백 => 사이즈 
			300+10 => 310
		box-sizing: border-box;
			300+10 => 300
*/

/* ------------------------------------------------- */
/* 헤더구역 */
#header{
	display: flex; /* 하위요소 가로배치 */
	align-items: center;	/* 세로 정렬 */
	justify-content: space-around; /* 가로 정렬 */
	margin: 20px 0px 50px 0px ; /*바깥여백 */
}
/* 로고구역 */
.mainlogo{ width: 5%; }			
.mainlogo img{ width: 100%; }
/* 본메뉴 구역 */
.mainmenu{ display: flex; font-size: 20px; width: 50%; }		
.mainmenu li{ margin-right: 20px; }
/* 서브메뉴  구역 */
.submenu{ display: flex;  font-size: 13px; align-items: center;}	
.submenu li{ margin-right: 10px; }
.hmimg{/* 회원 프로필 이미지 */
	width: 50px; height: 50px; /* 가로세로 같으면 정사각형 */
	border: solid 1px #e8e8e8; 
	border-radius: 50%; /* 둥근모서리 */
	
}






























