

/* 1. 회원가입 입력 구역 */
.signupForm{
	font-family: 'omyu_pretty';
	width: 30%;
	margin: 30px auto;	
	font-size: 15px;
}
.signupForm h2 , .signupForm p {
	text-align: center;
}

/* 2. 입력 상자 */
.signupForm input{
	width: 100%;
    height: 50px;
    padding: 10px;
    border: 1px solid #e8e8e8;
    border-radius: 10px;
}
.title{ font-size: 13px; margin: 20px 0px 5px 0px; } /* 입력 제목 */

.idcheckbox , .pwcheckbox , .emailcheckbox , .logincheckbox{   /* 유효성검사 결과 표시 구역 */
	margin-bottom: 20px;
	color: #c16f6f;
    font-size: 12px;
    margin-left: 5px;
}

.emailbox{ display: flex; } /* 이메일 구역 */
.emailbox button , .authbox button { /* 인증 버튼 */
    width: 25%;
    background-color: #4d62e1;
    color: white;
    border: none;
    border-radius: 15px;
    margin-left: 5px;
    height: 50px;
    font-family: 'omyu_pretty';
}
.authbox{ /* 인증 구역 */
	display: flex;
    align-items: center;
    margin-top: 10px;
}
.timebox{	/* 인증 시간 구역 */
	width: 30%;
	padding: 10px;
}
.preimg{	/* 첨부파일 이미지 미리보기 */
	width: 200px;
    height: 200px;
    border: 1px solid #e8e8e8;
    border-radius: 50%;
    object-fit: cover;
     margin: 15px 85px;
}
/* 회원가입 버튼 */
.signupbtn{
	width: 100%;
    border: none;
    background-color: #4d62e1;
    color: white;
    font-weight: bold;
    padding: 20px;
    margin: 20px 0px;
    border-radius: 20px;
    font-size: 20px;
    font-family: 'omyu_pretty';
}
.subbtnbox{
	    display: flex;
    justify-content: space-between;
}