@charset "UTF-8";
/* css 기본값 제거 */
*{
	padding: 0px; margin: 0px;
}
li{ list-style-type: none; } /*글머리 제거 */
a{ color: black; text-decoration: none; } /* a태그의 색상 , 밑줄 제거	 */
/* 페이지 사이즈 사이즈 : 1200px */

/* 외부폰트 */
@font-face {
    font-family: 'GoryeongStrawberry';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-01@1.0/GoryeongStrawberry.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
/* 헤드 메뉴 */
.head_menu{
	display: flex; /* 하위요소 가로배치 */
	justify-content: space-around; /* 가로배치 */
}