@charset "UTF-8";

/* -------------------------- 공통 부문 ----------------------------- */
*{ padding: 0px; margin: 0px; font-size: 12px; }
/* a 기본값 제거 */
a{ color: black; text-decoration: none; }
/* 글머리 */
li{ list-style-type: none; }
/* 웹폰트 */
/* ------------------------- 상단 메뉴 ----------------------------- */
/* li 가로 배치하는 방법 1 */
/* .top_menu li { display: inline-block; } */
/* li 가로 배치하는 방법 2 */
.top_menu{ 
	display: flex; 	/* 하위 요소 배치 방법 */
	justify-content: flex-end; /* 하위 요소들 가로 정렬 */
	align-items : center; /* 하위 요소들 세로 정렬 */
	border-bottom: 1px solid #dbdbdb; /* 아래 테두리 */
	padding:  10px; /* 안쪽여백 */
	font-size: 10px; /* 부모요소에 폰트적용시 하위요소 적용 */
	margin-right: 20px;
}
.line{ padding: 0px 10px; }  /* | 사이 여백 */
.top_menu_icon{ width: 20px; vertical-align: middle;  } /* 이미지 크기변경 , 세로 정렬  */ 
/* -------------------------- 메인메뉴 ------------------------------ */
/* 메뉴 와 검색창이 포함된 구역 */
.main_menu{
	display: flex;
	justify-content: space-between; /* 양끝 정렬 */
	align-items: center;
	margin: 0px 50px 0px 30px;
	position: sticky; /* 스크롤 내릴경우 고정 */
	top:0px; /* 상단 위에 고정 */
	z-index: 1; /* 겹쳤을때 순서 */
	background-color: white; /* 배경 */
	opacity: 0.8; /* 요소 투명도 1:100%[투명도없음] , 0.5:50% */
}
/* 메뉴 */
.main_menu ul{
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-weight: bold; /* 글꼴 진하게 */
	padding: 30px;
	width: 65%;	/* 가로 사이즈 */
}
/* 커서(포커스) 활설화 되었을때 테두리 */
*:focus{ outline: none; } 
/* input 과 이미지 구역 */
.searchbox{ border-bottom: 1px solid black;}
/* 검색창 돋보기 이미지 */
.searchbox img{ height: 15px;}
/* 검색 input */
.searchbox input{  border: none; padding: 5px; }
.new{ color: red; } /* 특정 메뉴 글꼴 색상 */
.logo{ width: 150px; } /*로고 사이즈 */
/* -------------------------- 드랍메뉴 ------------------------------ */
/* */
.drop_menu{ position: relative; } /* 상대위치 */
/* */
.drop_menu .sub_menu{
	position: absolute; /* 절대위치 */
	left:-40px; top:15px; /* drop_menu 요소 기준으로 왼쪽으로 40px 이동 , 위에 15px */
	display: none; /* 숨김 */ 
	width: 110px; /* 드랍메뉴 사이즈 */ 
	background-color: white; /* 드랍메뉴 배경색 */ 
	padding: 25px 0px 20px 0px; /* 여백 */ 
	text-align: center; /* 텍스트 정렬 */
}
.sub_menu li{ margin-bottom: 5px;	}
/* */
.drop_menu:hover .sub_menu{
	display: block; /* 보이기 */
}
/* -------------------------- 대표 이미지 ----------------- */
#main_img{ width: 100%; }





























