	html , body{
		height: 100%;
		/* 부모요소 의 사이즈가 존재해야지 자식요소의 사이즈 기준점 부모요소 */
		/* 해당 구역의 스크롤바 제거 */
		-ms-overflow-style:none;
	}
	/* 브라우저[크롬]의 스크롤바 제거 */
	::-webkit-scrollbar{ display: none; }
	
	.contentbox{ 	display: flex; width: 100%; height: 80%; }
	#map{ width:80%;height:100%; }
	.searchbox{
		position: fixed; left: 10px; top: 40%; z-index : 100;
		width: 200px; height: 200px; background-color: white; 
	}
	/* 사이드바 */
	.produclistbox{ width: 20%; height: 100%; overflow: scroll; }
	.productbox{/* 제품 1개 구역 */ 
		display: flex;
		padding: 0px 5px 20px 5px;
		border-bottom: 1px solid #eeeeee;
		margin: 0px 5px 20px 5px; 
	}
	.pimgbox img{ /* 제품 대표이미지 */
		height: 140px; width: 140px; object-fit : cover; /* 비율유지 , 해당 설정된 크기보다 커지면 짤림*/
	}
	.pcontentbox{ /* 제품 내용 구역 */
		width: 100%; 
		padding: 0px 15px;
		display : flex ;
		flex-direction: column;
	    justify-content: space-between;
	}
	.pname{ /* 제품 제목 */
		font-size: 20px;
		height : 30px;
		/* 내용물이 구역크기보다 커질때 ... */
		overflow: hidden;
		white-space: nowrap; /* 자동 줄바꿈처리 제거 */
		text-overflow: ellipsis; /* ... */
		max-width: 200px;	/* 표현할 최대 사이즈 : 최대사이즈보다 커지면 ... */
	}
	.pprice{ /* 제품 가격 */
		text-align: right;
		font-size: 25px;
		margin-top: 20px;
	}
	.pdate{ font-size: 10px; }
	.petc{ font-size: 12px; text-align: right; }
